@charset "UTF-8";

h1 {
    font-size: 50px;
    width: 300px;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 6%;
    border-bottom: 2px solid black;
    text-align: center;
    font-family: 'DM Serif Text', serif;
    
}
 button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 15%;
    cursor: pointer;
  }
h2{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 23%;
    font-weight: normal;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rectangle {
    position: relative;
    width: 800px;
    height: 550px;
    background-color: white;
    border: none;
}
.textForm {
    margin: 0;
    margin-top: 5%;
    margin-left: 22%;
    padding: 10px 10px;
}
.id, .pw {
    width: 73%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}
.btn {
    display: block;
    margin-top: 20px;
    margin-left: 23%;
    width: 58%;
    height: 50px;
    background: linear-gradient(125deg, #F6CECE, #F5A9A9, #FA5858);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
 }
 a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
 }
 a:hover{
    color: rgb(237, 98, 85);
 }